:root {
    /* colors */
    --blue: #1877f2;
    --gray: #dddfe2;
    --green: #42b72a;

    /* properties */
    --direction: row;
    --header-align: left;
    --main-height: 80vh;
    --log-width: 25%;
    --input-height: clamp(50px, 5vh, 100px);
}

body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: var(--main-height) calc(110vh - var(--main-height));
    margin: 0%;
}

main {
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    flex-direction: var(--direction);
}

#log {
    width: var(--log-width);
    max-width: 600px;
}
#log > form {
    /* design */
    background-color: white;
    border-radius: 3vmin;
    filter: drop-shadow(0px 1vh 2vh var(--gray));
    
    /* structure */
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3vmin;
    
    /* padding */
    padding: 3vmin;
    box-sizing: border-box;
}
#log > form > hr { 
    width: 100%;
}
#log > p {
    text-align: center;
}



header > h1 {
    color: var(--blue);
}

footer > * {
    text-align: center;
    width: 80%;
}

@media (max-aspect-ratio: 1/1) {
    :root {
        --direction: column;
        --main-height: 90vh;
        --log-width: 50%;
    }
}

/* custom design */

/* url */
.url:link, .url:visited, .url:active {
    color: var(--color);
    text-decoration: none;
}

.url:hover {
    text-decoration: underline;
}

/* button */
.basic_button {
    height: var(--input-height);
    border: none;
    border-radius: 1vmin; 
    font-weight: bold;
    color: white;
    background-color: var(--color);
    width: var(--width);
    filter: drop-shadow(0px .5vh .5vh var(--gray));
}

.basic_button:hover {
    cursor: pointer;
    filter: grayscale(0.2) drop-shadow(0px .5vh .5vh var(--gray));
}

/* input */
.basic_input {
    border: 1px solid var(--gray);
    border-radius: 1vmin;
    height: var(--input-height);
    box-sizing: border-box;
    padding: 1vmin;
    width: 100%;
}
.basic_input:focus {
    outline: 1px solid var(--blue);
}